<html lang="en">
<head>
    <title>Atom Package Sync Authentication</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/authentication.css"/>
</head>
<body>

<div class="sign-in-box">
    <h1 class="logo"><img class="atom-logo" src="/images/atom-icon.svg">Atom Package Sync</h1>

    <div class="sign-in-container">
        <a class="sign-in google" href="<%= googleAuthUrl %>">Sign in with Google</a>
    </div>
</div>

</body>
</html>
