<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
  <body>

      <div class="sign-in-box">
          <h1 class="logo"><img class="atom-logo" src="/images/atom-icon.svg">Atom Package Sync</h1>
          <img class="preview" src="https://cloud.githubusercontent.com/assets/642515/24177950/451d9896-0e7c-11e7-959f-f6940b64d57d.gif" alt="GitHub Logo">
      </div>

  </body>
</html>
